<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
</nav>

<h5>Dashboard</h5>

<div class="row">
    <!-- Left -->
    <div class="col-lg-2">
        <div class="col-12">
            {{ Designation | uppercase }}
        </div>
        <div class="col-12">
            <img src="assets/balavijay01.jpg" width="100%" />
        </div>
        <div class="col-12 text-center pt-2">
            {{ Username }}
        </div>
        <div class="col-12 text-center pt-2">
            Team Summary {{ NoOfTeamMembers }}
        </div>
        <div class="col-12 text-center pt-2">
            Total cost {{ TotalCostofAllProject }}
        </div>
        <div class="col-12 text-center pt-2">
            Client
        </div>
        <div class="col-12 text-left pt-2">
            <ul class="list-group ">
                <li class="list-group-item" *ngFor="let client of Clients">
                    {{ client | slice:0:10 }} ...
                </li>
                 
            </ul>

        </div>

    </div>
    <!-- End Left -->

    <!-- Middle -->
    <div class="col-lg-6">
        <div class="row">
            <div class="col-12 pt-0 pb-2" style="background: #e9e6e6;">
                <div class="row mt-2">
                    <div class="col-6 text-left">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" 
                            type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" 
                            
                            >
                                {{ Projects[0]}}
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" (click)="onProjectChange($event)"
                                    *ngFor="let project of Projects"> 
                                    {{ project }} 
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-right">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                                data-toggle="dropdown">
                                2020
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">2020</a>
                                <a class="dropdown-item" href="#">2019</a>
                                <a class="dropdown-item" href="#">2018</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-11 mx-auto pt-2 pb-2 rounded font-weight-bold">
                        Project Briefing
                    </div>
                    <div class="col-12">
                        Project Cost : {{ ProjectCost | currency:"USD" }} <br />
                        Current Expenditure : {{ CurrentExpenditure }} <br />
                        Available Funds: {{ AvailableFunds }} <br />
                    </div>

                    <div class="col-12">
                        <div *ngFor="let item of TeamMemberSummary">
                            {{ item.region }} total {{ item.count }}, unavailable {{ item.notAvailable }} 
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Middle -->

    <!-- Right -->
    <div class="col-lg-4">
        <div class="col-12 accordion" id="accordion1">
            Team Members
            <div *ngFor="let item of TeamMembers; let i = index">
                <button class="btn btn-secondary mb-2 w-100" type="button" 
                data-toggle="collapse" [attr.data-target]="'#cardbody' + i"  
                aria-expanded="false" aria-controls="collapseExample" >
                    {{ item.region }}
                </button>

                <div *ngIf="i==0; then firstTemplate; else secondTemplate;">

                </div>

                <ng-template #firstTemplate>
                    <div class="collapse" [id]="'cardbody' + i " data-parent="#accordion1" [ngClass]="(i==0)? 'show' : ''" >
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-lg-2">ID</div>
                                <div class="col-lg-6">Name</div>
                                <div class="col-lg-4">Status</div>
                            </div>
                
                            <div class="row" *ngFor="let member of item.members">
                                <div class="col-lg-2"> {{ member.id }} </div>
                                <div class="col-lg-6"> {{ member.name }} </div>
                                <div class="col-lg-4"  [style.color]="(member.status == 'Unavailable')? 'red' : 'green' "> {{ member.status }} </div>
                            </div>
                        </div>
                        </div>
                </ng-template>

                <ng-template #secondTemplate>
                    <div class="collapse" [id]="'cardbody' + i " data-parent="#accordion1" [ngClass]="(i==0)? 'show' : ''" >
                        <div class="card card-body">
                            <div class="row">
                                 
                                <div class="col-lg-6">Name</div>
                                <div class="col-lg-6">Status</div>
                            </div>
                
                            <div class="row" *ngFor="let member of item.members">
                                 
                                <div class="col-lg-6"> {{ member.name }} </div>
                                <div class="col-lg-6"  [style.color]="(member.status == 'Unavailable')? 'red' : 'green' "> {{ member.status }} </div>
                            </div>
                        </div>
                        </div>
                </ng-template>
             
                
            </div>

            

        </div>
    </div>
    <!-- Right End -->
</div>